<a href="https://wa.me/+573178860724" class="botonWhatsapp"
  title="Envianos un mensaje" target="_blank">
  <i class="icon-whatsapp"></i>
</a>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9 text-center">
      <div class="footer-site-logo mb-4">
        <a href="/inicio/">D'Albas</a>
      </div>
      <ul class="list-unstyled nav-links mb-5">
        <li><a href="/inicio/" style="font-size: small;">Inicio</a></li>
        <li><a href="/vistaInicioNosotros/" style="font-size: small;">Acerca de</a></li>
        <li><a href="/vistaInicioProductos/" style="font-size: small;">Productos</a></li>
        <li><a href="/vistaLogin/" style="font-size: small;">Iniciar Sesión</a></li>
      </ul>

      <div class="social mb-4">
        <h3>Mantente en contacto</h3>
        <ul class="list-unstyled">
          <li class="fb">
            <a href="https://www.facebook.com/dalbaspasteleria"
              ><span class="icon-facebook" style="font-size: large;"></span
            ></a>
          </li>
          <li class="tw">
            <a href="#"><span class="icon-whatsapp" style="font-size: large;"></span></a>
          </li>
        </ul>
      </div>

      <div class="copyright">
        <hr>
        <p class="mb-0">
          <small>&copy; Derechos reservador Wolsoft | SENA.</small>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalApp" tabindex="-1" aria-labelledby="modalAppLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #fc77a7;">
        <h1 class="modal-title text-white fw-bold" id="modalApplLabel">QR - Aplicación móvil</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% load static %}
        <div class="text-center">
          <img src="{% static '../static/images/qrApp.png' %}" alt="">
        </div>
        <span class="text-center h4">
          <p>Escanea el código QR para descargar la aplicación móvil de D'Albas.</p>
        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger text-white fw-bold" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
