{% extends "index.html" %}

{% block encabezado %}
{% include "encabezado.html" %}
{% endblock %}

{% block contenido %}
{% load static %}
<div class="mx-5 manualUser p-5 row">
    <h1 class="titleInicial heading">
        Guías requeridas del<span> software </span>
    </h1>
    <div class="col-12 card" style="margin-top: -20px;">
        {% load static %}
        <h1 class="text-center pt-5 mb-3">Manual del usuario <span class="text-center" style="padding-left: 8px;">
            <button class="btn btn-success text-white" id="btnDescargarPDFUser" data-pdfUser-url="{% static '../static/manuales/Manual_usuario.pdf' %}">Descargar</button>
        </span></h1>
        <hr>
        <div class="mx-2 mb-2">
            <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
                padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
                border-radius: 8px; will-change: transform;">
                <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFtlLgGDBQ&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
                </iframe>
            </div>
        </div>
    </div>
    <div class="col-12 card mt-5">
        {% load static %}
        <h1 class="text-center pt-5 mb-3">Manual del administrador <span class="text-center" style="padding-left: 8px;">
            <button class="btn btn-success text-white" id="btnDescargarPDFAdmin" data-pdfAdmin-url="{% static '../static/manuales/Manual_administrador.pdf' %}">Descargar</button>
        </span></h1>
        <hr>
        <div class="mx-2 mb-2">
            <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
                padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
                border-radius: 8px; will-change: transform;">
                <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFwfPZhmcs&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
                </iframe>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("btnDescargarPDFUser").addEventListener("click", function () {
        var urlPDF = this.getAttribute("data-pdfUser-url");
    
        var link = document.createElement("a");
        link.href = urlPDF;
        link.download = "Manual_usuario.pdf";
    
        document.body.appendChild(link);
        link.click();
    
        document.body.removeChild(link);
    });

    document.getElementById("btnDescargarPDFAdmin").addEventListener("click", function () {
        var urlPDF = this.getAttribute("data-pdfAdmin-url");
    
        var link = document.createElement("a");
        link.href = urlPDF;
        link.download = "Manual_administrador.pdf";
    
        document.body.appendChild(link);
        link.click();
    
        document.body.removeChild(link);
    });
</script>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}